<!DOCTYPE html>
<html>
<head>
<style type="text/css">
body {background-color:yellow;}
p {color:blue;}
</style>
</head>
<p style="color:blue;margin-left:20px;">This is a paragraph.</p>
<body style="background-color:orange">
<h2 style="background-color:#A52A2A;">wellcome to freedom world</h2>
<h1 color:blue>first</h1>
<h2>second</h2>
<img src="Firefox_wallpaper.png", alt="Pulpit rock" width="304" height="328"></br>
<table>
<tr>
<td> Birthday :</td>
</tr>
<tr>
<td><input type="date" name="bdaytime" size="10"></td></br>
</tr>
<tr>
 <td> E-mail:    <input type="email" name="usremail"></td></br>
</tr>
<tr>
<td> Search Google: <input type="search" name="googlesearch"></td></br></br>
</tr>
</table>
  <a href="http://www.whereincity.com/india/great-indians/freedom-fighters/" target="_blank">  <button type="button" height="6" width="20">click</button>  </a>
  <%= link_to "click2",home_path %>
</body>
</html>
