<html>
  <head>
    <title> strings </title>
  </head>
  <body>
    <%= 'hello' %>
    <%='hello' + 'world'%>
    <%= 'hi' << 'prasanna' %>
    <% p= 9886963599 << 'vodafone' %>
    <%= p.concat('mobile') %>
  </body>
</html>